body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#title {
  height: 10vh;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

#map {
  height: 90vh;
  width: 100vw;
}

.info.legend {
  background: white;
  padding: 10px;
  border-radius: 6px;
  line-height: 18px;
  font-size: 12px;
  color: #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.info.legend i {
  width: 20px;
  height: 12px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
